/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;

  /*========== Font and typography ==========*/

  /*========== Font weight ==========*/

  /*========== Margenes ==========*/

  /*========== z index ==========*/
}

/*========== BASE ==========*/

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*========== CLASS CSS ==========*/

/*========== LAYOUT ==========*/

/*========== NAV ==========*/

/* Show menu */

/* Active menu link */

/* Change background header */

/*========== HOME ==========*/

/*========== BUTTONS ==========*/

/*========== DECORATION ==========*/

/*========== ACCESSORIES ==========*/

/*========== SEND GIFT ==========*/

/*========== FOOTER ==========*/

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
